/* 575 boilerplate style.css */
#california-map{
  position: absolute;
}

#california{
  position: static;
  margin: 180px 0 0 0;
}

#CAheader{
  position: center;
  font-size: 20px;
  font-family: sans-serif;
  color: blue;
  border: medium solid #999;

}

#CAtext{
  float: right;
  border: medium solid #999;
  margin-top: 10px;
}


#radio{
  width:900px;
  height:20px;
  position:relative;
  font-size:13px;
}

.CAmap{
  background-color: #cdd2d4;
  border: medium solid #999;
  stroke-width: 1px;
  stroke: #4f4f4f;
}

.gratLines {
    fill: none;
    stroke: green;
    stroke-width: 1px;
}


.CAchart {
    background-color: white;
    border: medium solid grey;
    float: center;
    margin: 80px 5px 0px 10px;
}

.infoLabel {
    font-family: sans-serif;
    border: 2px solid grey;
    background-color:white;
    font-size: 6px;
    position: absolute;
    height: 60px;
    width: 230px;
    padding-left: 5px;
    top: -75px;
}

.labelname {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-left: 2px;
}


#caliSlider{
  position: absolute;
  left: 50%;
  margin-left: -300px;
  bottom: 20px;
  width: 600px;
  height: 50px;
};

.chartBackground{
  fill: silver
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: monospace;
    font-weight: bold;
    font-size: .7em;
    fill: black;
}
