/* Style Sheet */

#new-york-map {
    height: 550px;
    width: 550px;
    display: inline-block;
    float: right;
    border-color: #999;
    border-style: solid; 
    margin-right: 36px;
/*    margin-left: 155x;*/
    margin-bottom: 15px;
/*    background-color: black;*/
}