/* Style Sheet */

#new-york-map {
    height: 650px;
    width: 650px;
    display: inline-block;
    float: right;
    border-color: #999;
    border-style: solid; 
    margin-right: 36px;
/*    margin-left: 155x;*/
    margin-bottom: 15px;
/*    background-color: black;*/
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}