/* Style Sheet */
h1{

}
h2{

}
h3{

}
h4{

}

#header{
  height: 80px;
  padding-top: 2px;
  background-color: #cdd2d4;
}


.mapMain {
  background-color: #cdd2d4;
  border: medium solid #999;
  position: static;
  width: 100;
}

.states {
    fill: #000;
    stroke: #fff;
    stroke-width: .6px;
}
