.jumbotron {
	background-color: #cdd2d4;
	background-size: cover;
	height: 100px;
  padding-top: 5px;
  text-align: center;
}

.description{
  background-color: white;
  text-align: center;
	padding-bottom: 10px;
}

#legend{

}

.Vaccine-PreventableDiseaseOutbreaks{
	background-color: #cdd2d4;;
	float: left;
	width:125px;
	height:100px;
}

.ChildhoodVaccinationLawsbyState{
	background-color: #cdd2d4;;
	float: left;
	width:125px;
	height:100px;
}

.ChildhoodVaccinationExemptionsbyState{
	background-color: #cdd2d4;;
	float: left;
	width:125px;
	height:100px;
}

.nymap{
	float:left;
	font-size: 12pt;
	position: relative;

}


/*.mapMain {
  background-color: white;
  border: medium solid #999;
  position: static;
  width: 100;
}

.us {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: .6px;
}*/
