/*#header{
  height: 80px;
  padding-top: 2px;
  background-color: #cdd2d4;
}*/

.map {
    background-color: white;
    border: medium solid #999;
}

.states {
  fill: black;
  stroke: #CCC;
  stroke-width: .5px;
}
